[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-double-quotes = "*"
flake8-import-order = "*"
pep8-naming = "*"
pytest = "*"
pytest-cov = "*"

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
dnspython = "*"
ipwhois = "*"
lxml = "*"
netifaces = "*"
paramiko = "*"
pillow = "*"
pymetasploit3 = "*"
python-dateutil = "*"
python-dotenv = "*"
python-nmap = "*"
python-whois = "*"
requests = "*"
requests-html = "*"
selenium = "*"
shodan = "*"
sqlalchemy = "*"
tabulate = "*"
tqdm = "*"
ujson = "*"
xmltodict = "*"
pyyaml = "*"

[scripts]
start = "python penta/penta.py -vv"
debug = "python penta/penta.py -vvv"
lint = "flake8 ."
format = "autopep8 -ivr ."
