[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
flake8-import-order = "*"
flake8-docstrings = "*"
flake8-double-quotes = "*"
pep8-naming = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
pillow = "*"
selenium = "*"
python-nmap = "*"
dnspython = "*"
python-whois = "*"
python-dotenv = "*"
shodan = "*"
isort = "*"
paramiko = "*"
pymetasploit3 = "*"
ipwhois = "*"
tabulate = "*"
xmltodict = "*"
lxml = "*"
netifaces = "*"
sqlalchemy = "*"
pytest = "*"
requests-html = "*"
pymysql = "*"
tqdm = "*"
ujson = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python penta/penta.py"
lint = "flake8 --show-source ."
format = "autopep8 -ivr ."
